<div id="fubh-combat-setup" style="visibility:{{#if isGM}}visible{{else}}hidden{{/if}}">
    <div id="fubh-combat-setup-draggable" class="button moveScreen">
        <i class="fa-solid fa-arrows-up-down-left-right"></i>
    </div>
    <div id="fubh-setup-portraits">Choose your leader ! Roll group initiativ check !</div>
    <div class="button green" data-action="start-combat">BEGIN COMBAT</div>
    <div class="button red" data-action="delete-combat">END COMBAT</div>
</div>