<div id="fubh-combat-setup">
    <div id="fubh-setup-portraits"></div>

    <div class="button green" data-action="start-combat">BEGIN COMBAT</div>
    <div class="button red" data-action="delete-combat">CANCEL</div>
</div>