<div id="fubh-section-middle">
    <div id="fubh-header">
        <div id="fubh-foes">
            <div class="fubh-portrait"></div>
            <div class="fubh-portrait"></div>
            <div class="fubh-portrait"></div>
            <div class="fubh-portrait"></div>
        </div>
    </div>
    <div id="fubh-footer">
        <div id="fubh-allies"></div>
    </div>
</div>