<div id="fubh-combat-tracker">
    <div id="fubh-header" class="hidden">
        <div id="fubh-foes">
        </div>
    </div>
    <div id="fubh-footer" class="hidden">
        <div id="fubh-buttons-container">
            <div id="fubh-round-counter" class="container blue"></div>
            <div id="fubh-turn-order" class="container green"></div>
            
            {{#if isGM}}

            <div class="button green" data-tooltip="Next turn" data-action="next-turn">
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="button green" data-tooltip="New round" data-action="new-round">
                <i class="fa-solid fa-rotate-right"></i>
            </div>

            <div class="button red" data-tooltip="End combat" data-action="delete-combat">
                <i class="fa-solid fa-xmark"></i>
            </div>

            {{/if}}
        </div>
        <div id="fubh-allies"></div>
    </div>
</div>