/*
 * UTILITIES
*/
#fu-battle-hud .glow{
    box-shadow:
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff !important; 
}
#fu-battle-hud .ma-right-1{
    margin-right:10px;
}
#fu-battle-hud .hidden{
    display: none;
}

#fu-battle-hud .display{
    display: block;
}

#fu-battle-hud .button:hover{
    cursor: pointer;
}

#fu-battle-hud .yellow{
    background: rgb(191,55,55);
background: linear-gradient(45deg, rgba(191,55,55,1) 0%, rgba(221,127,44,1) 35%, rgba(228,202,68,1) 100%);
}

#fu-battle-hud .blue{
    background: rgb(43,62,122);
    background: linear-gradient(43deg, rgba(43,62,122,1) 33%, rgba(80,107,168,1) 100%);
}

#fu-battle-hud .green{
    background: rgb(55,133,109);
    background: linear-gradient(43deg, rgba(55,133,109,1) 0%, rgba(79,175,46,1) 100%);
}

#fu-battle-hud .red{
    background: rgb(172,39,39);
    background: linear-gradient(43deg, rgba(172,39,39,1) 33%, rgba(175,46,111,1) 100%);
}

#fu-battle-hud .blue:hover{
    background: rgb(27,74,89);
    background: linear-gradient(43deg, rgba(27,74,89,1) 9%, rgba(63,187,205,1) 100%);
}
#fu-battle-hud .green:hover{
    background: rgb(45,129,103);
    background: linear-gradient(43deg, rgba(45,129,103,1) 0%, rgba(174,180,172,1) 100%);
}
#fu-battle-hud .red:hover{
    background: rgb(129,45,45);
    background: linear-gradient(43deg, rgba(129,45,45,1) 0%, rgba(180,174,172,1) 100%);
}
#fu-battle-hud .yellow:hover{
    background: rgb(200,119,46);
background: linear-gradient(45deg, rgba(200,119,46,1) 0%, rgba(196,171,51,1) 35%, rgba(205,219,29,1) 100%);
}
#fu-battle-hud div.button, #fu-battle-hud div.container{
    border:2px white;
    border-style: ridge;
    border-radius: 10px;
    
    text-align: center;
    color:white;
    text-shadow: #000000 1px 0 2px;

    margin:2px;
}

#fu-battle-hud .font-size{
    font-size: 12px;
}

/*
 * MAIN
 */
#fu-battle-hud{
    height:100%;
    position: absolute;
    pointer-events: none;

    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:10px;
}

#fubh-combat-tracker{
    margin-left:220px;
    margin-right: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
 * COMBAT SETUP
 */
#fubh-combat-setup .div.button{
    padding:10px;
 }
#fubh-combat-setup{
    pointer-events: all;
    position:absolute;
    margin:auto;

    top: 45%;
    left:45%;

    background-color: rgb(57, 96, 105);
    padding: 20px;

    border:2px white;
    border-style: ridge;
    border-radius: 30px;

    z-index: 100;
}

#fubh-combat-setup .button {
    padding:10px;
}

#fubh-combat-setup .moveScreen {
    width:25px;
    padding:0px;
    font-size:15px;

    position: absolute;
    top: -10px;
    left: -10px;
    cursor: grab !important;

    text-shadow: #000000 0px 0 0px !important;
    color: rgb(60, 51, 85) !important;
    background: rgb(221, 221, 221) !important;
    background: linear-gradient(43deg, rgb(255, 255, 255) 33%, rgb(102, 102, 102) 100%) !important;
}

#fubh-setup-portraits{
    font-style: italic;
    color: white;
    text-shadow: #000000 1px 0 10px;
    padding:10px;
}

/* Fabula Ultima Battle Hud Header
    Container for foes
*/
#fubh-header {
    background-image: url('/modules/fu-battle-hud/assets/background.png');
    background-color: rgb(57, 96, 105);
    background-size: cover;
    background-position: center;

    align-self: center;
    pointer-events: all;

    border-radius: 0px 0px 30px 30px;
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,0.25);
    border-bottom:4px groove rgb(30, 49, 49);
}

#fubh-header #fubh-foes {
    width:100%;

    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Fabula Ultima Battle Hud Footer
    Container for the allies and hotbar section
*/
#fubh-footer {
    min-width:400px;
    margin-bottom: 62px;
    align-self: center;
    pointer-events: all;
}

#fubh-allies {
    height: 180px;
}

#fubh-foes {
    height: 150px;
}

#fubh-footer #fubh-allies {
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,0.25);
    
    border:2px white;
    border-style: groove;
    border-radius: 30px;

    background-color: rgb(57, 96, 105);
    background-image: url('/modules/fu-battle-hud/assets/background.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    padding: 5px;
}

/* 
 * Character Portrait
 */

/* ANIMATIONS */
.floating-text{
    position:relative;
    float:left;

    width:100%; height:50%;
    
    text-shadow: #000000 2px 2px 2px;
    font-size: 50px;
    text-align: center;

    z-index: 100;
    opacity: 0;
}

.floating-text.text-red{
    color: rgb(245, 64, 64);
}

.floating-text.text-green{
    color: rgb(85, 245, 64);
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
  
.shake-animation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(80%);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
    }
}
  
.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

/* the base element */
#hotbar{
    margin: auto;
}

.fubh-portrait {
    height: 100%;

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;

    position: relative;
}

/* the container wich is inside an fubh-portrait*/
.portrait-wrapper {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* old the img shown in portrait */
.portrait-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    width:100%;
    flex-grow: 1;
}

.portrait-img.enemy:hover{
    cursor: pointer;
    border-color: #be82a5 !important; 
}

.portrait-img.ally:hover{
    cursor: pointer;
    border-color: burlywood !important; 
}

/*contain all resources bar*/


/* represent the box containing the resource bar*/
.portrait-resources-wrapper{
    height: 45px;
    width:100%;
}
.resource-bar-container{
    position:relative;
    border: 1px groove black;
    background-color: rgb(59, 59, 59);
    background-image: url('/modules/fu-battle-hud/assets/bar-texture.png');
    background-size: cover;
    width:100%;
    margin-bottom: 1px;
}
.resource-bar-container {
    height:14px;
}

/* represent css shared by all resources bar*/
.resource-hp{
    background: rgb(94,0,0);
    background: linear-gradient(0deg, rgba(94,0,0,1) 0%, rgba(190,41,41,1) 35%, rgba(152,122,122,1) 100%);
    height: 100%;
}

.resource-mp{
    background: rgb(0,56,94);
    background: linear-gradient(0deg, rgba(0,56,94,1) 0%, rgba(41,124,190,1) 35%, rgba(122,132,152,1) 100%);
    height: 100%;
}

.resource-ip{
    background: rgb(94,42,0);
    background: linear-gradient(0deg, rgba(94,42,0,1) 0%, rgba(190,106,41,1) 35%, rgba(152,146,122,1) 100%);
    height: 100%;
}

.resource-ap{
    background: rgb(79,0,94);
    background: linear-gradient(0deg, rgba(79,0,94,1) 0%, rgba(118,41,190,1) 35%, rgba(158,131,182,1) 100%);
    height: 100%;
}

.resource-bar-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow: #000000 1px 0 10px;
    color: white;
}

/* portrait name*/
.portrait-name{
    border: 2px;
    border-style: ridge;
    border-radius: 3px;
    margin-bottom: 2px;

    background-size: contain;
    background-color: rgb(59, 59, 59);
    background-image: url('/modules/fu-battle-hud/assets/bar-texture.png');

    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width:100%;
    height: 18px;
}

.portrait-name.ally{
    border-color: rgb(170, 130, 89);
    background-color:rgb(104, 73, 43);
}

.portrait-name.enemy{
    border-color: rgb(170, 89, 136);
    background-color:rgb(92, 43, 104);
}
/*
 * PORTRAIT BUTTONS
 */

.fubh-portrait-buttons{
    position: absolute;
    display:none;
    z-index: 101;
    top:0;
}

.fubh-portrait-buttons .button{
    font-size: 20px;
    line-height: 30px;
    height:30px;
    width:30px;

    border-radius: 5px !important;
}

.portrait-img:hover + .fubh-portrait-buttons, .fubh-portrait-buttons:hover{
    display: block;
}
/*
 * BUTTONS CONTAINER
 */
#fubh-buttons-container{
    height:50px;
    
    position: absolute;
    margin-top:-24px;

    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    padding: 10px;
}

#fubh-buttons-container .button, #fubh-buttons-container .container{
    font-size:12px;
    line-height: 18px;
    height:20px;
}

#fubh-round-counter {
    width:25px !important;
    font-size: 12px;
    font-weight: bold;
}

#fubh-buttons-container .container{
    width: 150px;
}

#fubh-buttons-container .button{
    width:20px;
}

/*
 * EXHAUSTED
 */

.portrait-img .portrait-img-overlay{
    position:relative;
    width:100%;
    height:100%;

    display: none;
}

.portrait-img .portrait-img-overlay.exhausted{
    display: block;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(100, 100, 100, 0.5) 0%, rgb(65, 69, 78) 100%);
}

.fubh-portrait-buttons div.button.exhausted{
    background: rgb(221, 221, 221) !important;
    background: linear-gradient(43deg, rgb(255, 255, 255) 33%, rgb(102, 102, 102) 100%) !important;

    color:rgb(73, 73, 73) !important;
    border-color: rgb(73, 73, 73) !important;

    cursor: not-allowed !important;
}

.portrait-name.ally.exhausted, .portrait-name.enemy.exhausted{
    border-color: rgb(185, 185, 185);
    background-color:rgb(139, 139, 139);
    color: rgb(185, 185, 185) !important;
}

.resource-hp.exhausted, .resource-mp.exhausted, .resource-ip.exhausted, .resource-ap.exhausted {
    background: rgb(129,132,134);
    background: linear-gradient(43deg, rgba(129,132,134,1) 9%, rgba(76,101,110,1) 50%, rgba(37,37,37,1) 100%);
    color:rgb(73, 73, 73) !important;
    height: 100%;
}

.portrait-img.ally.exhausted, .portrait-img.enemy.exhausted{
    border-color: rgb(185, 185, 185) !important;
}